.user-card {
  margin: 10px;
  width: 250px;
  display: flex;
  flex-direction: column;
  border: 1px solid ActiveText;
  box-shadow: 4px 4px 6px 0px gray;
}

main {
  height: 70%;
  width: 65%;
  margin:  auto;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}